.navbar {
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbarBrand {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center; 
  margin-right: 40px;   /* We adjust the start button */
  transition: all 0.3s ease-in-out;
}

.navbarItem {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.navbarItem a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.navbarItem a:hover {
  background-color: rgb(194, 201, 240); 
}

.navbarToggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbarIcon {
  width: 30px;
  height: 3px;
  background-color: white;
}

.navbarLinks.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbarUser {
  margin-left: 20px; /* Keeps the session button aligned */
  display: flex;
  align-items: center;
}

.navbarUserIcon {
  margin-right: 5px;
}

.navbarUser a {
  padding: 10px 15px;
}

@media (max-width: 768px) {
  .navbarLinks {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%; /* Makes it take up the entire screen */
    padding: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbarToggle {
    display: flex;
  }

  .navbarLinks.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbarUser {
    margin-left: 0;
  }
}
